  /*----------------------------------------------------------*/
  /*---------------------- MAIN STUFF ------------------------*/
  /*----------------------------------------------------------*/

  #warning {
    width: 100%;
    height: 90px;
    margin: 0;
    text-align: center;
    padding: 0;
  }

body {
    background-image: url('../backgrounds/background.webp');
    background-repeat: repeat;
    text-rendering: optimizeLegibility;
    image-rendering: pixelated;
    color: #e834eb;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    display: flex; /* Add flex display */
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Vertically center items */
    align-items: center; /* Horizontally center items */
    height: auto; /* Set height to 100% viewport height */
    margin: 0;
    padding: 0px;
    position: relative;
  }

  p,h4,u,a {
    margin: 0;
  }

  .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .yellow-rectangle {
    position: relative;
    padding: 25px;
    background-color: #ffff78;
    border-top: solid 5px #ffffff;
    border-left: solid 5px #353535;
    border-bottom: solid 5px #353535;
    border-right: solid 5px #ffffff;
    width: 1264px;
    height: 1200px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box; 
  }

  .inset-image {
    border-bottom: solid 2px #ffffff;
    border-right: solid 2px #353535;
    border-top: solid 2px #353535;
    border-left: solid 2px #ffffff;
  }

  .main-content {
    position: relative;
    height: calc(100% - 34px - 25px);
  }

  .toolbar {
    position: absolute;
    height: 34px;
    width: calc(100% - 50px);
    bottom: 0px;
    margin-bottom: 25px;
  }

  .toolbar-element {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
  }

  .left-half {
    position: absolute;
    left: 0px;
    width: calc(50% - 30px);
  }

  .right-half {
    position: absolute;
    right: 0px;
    width: calc(50% - 30px);
  }

  .right {
    position: absolute;
    right: 0;
  }

  .radar-overlap {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .button {
    position: relative;
    background-color: #aeaeae;
    border-top: solid 2px #ffffff;
    border-left: solid 2px #353535;
    border-bottom: solid 2px #353535;
    border-right: solid 2px #ffffff;
    width: 60px;
    height: 30px;
    cursor: pointer; 
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-block;
  }

  .loading-box {
    position: absolute;
    padding: 16px;
    z-index: 500;
    width: 508px;
    height: 508px;
    transform: translate(-50%, -80%);
  }

  .loading-bar-background {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 16px;
    height: 50px;
    width: calc(100% - 36px);
    background-color: #a5a5a5;
    border-bottom: solid 2px #ffffff;
    border-right: solid 2px #353535;
    border-top: solid 2px #353535;
    border-left: solid 2px #ffffff;
  }

  .loading-bar {
    position: relative;
    width: calc(100% - 30px - 60px); /* Subtract out twice the padding and the width of the nyancat plus background border*/
    height: calc(100% - 30px);
    margin: 15px;
  }

  .hidden-button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  /*----------------------------------------------------------*/
  /*---------------------- TEXT STUFF ------------------------*/
  /*----------------------------------------------------------*/

  h3 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  @keyframes purple-flash {
    0%{color: rgb(252, 169, 252);}
    50%{color: rgb(210, 36, 210);} 
    100%{color: rgb(252, 169, 252);}
  }
  
  .purple-flash-text {
    font-size: 20px; 
    text-shadow: 2px 2px 2px #000000; 
    animation: purple-flash 3s infinite;
  }

  .loading-text {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
    animation: rainbow 3s infinite; 
  }

  /*----------------------------------------------------------*/
  /*---------------------- TOP RECTANGLE ------------------------*/
  /*----------------------------------------------------------*/

  #top-rectangle {
    margin-top: 70px;
    padding: 0px;
    height: 80px;
    width: 455px;
  }

  #lightning-1 {
    position: absolute;
    left: -20px;
    top: -14px;
    z-index: 10;
  }

  #scrump-weather {
    transform: translate(-50%, -95px);
  }

  /*----------------------------------------------------------*/
  /*------------ RADAR AND TEMP DATA CONTAINER ---------------*/
  /*----------------------------------------------------------*/

  table, th, td {
    border: solid 2px #353535;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }

  tr:nth-child(even) {
      background-color: #fdffbd;
  }

  #radar-temp-container {
    height: 670px;
  }

  #radar-container {
    width: 600px;
    height: 550px;
  }

  #forecast-container {
    width: 570px;
  }

  #forecast-table {
    position: relative;
    height: calc(100% - 60px);
    bottom: 0px;
  }

  #scratch-cat {
    position: absolute;
    right: 50px;
    bottom: -1px;
    height: 60px;
    z-index: 5;
  }

  #forecast-message {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    text-align: center;
    border: solid 2px #353535;
  }

  #forecast-message-text {
    position: relative;
    font-size: 27px;
  }

  #radar-button {
    margin-right: 20px;
  }

  /*----------------------------------------------------------*/
  /*------------------ SUN FAX CONTAINER ----------------------*/
  /*----------------------------------------------------------*/

  #sun-fax-container {
    padding: 0px;
    width: 500px;
    height: 280px;
  }

  /*----------------------------------------------------------*/
  /*---------------- CHART DATA CONTAINER --------------------*/
  /*----------------------------------------------------------*/

  #hourly-box {
    height: 970px;
    padding: 10px;
  }

  #three-d-cat {
    position: absolute;
    right: 130px;
    top: -40px;
    height: 50px;
  }

  .chart-container {
    width: 98.5%;
  }

  /*----------------------------------------------------------*/
  /*---------------------- GOES LABEL BOX ---------------------*/
  /*----------------------------------------------------------*/

  #goes-label {
    margin: 0;
    width: 675px;
    height: 80px;
  }

  /*----------------------------------------------------------*/
  /*--------------- GOES SATELLITE CONTAINER -----------------*/
  /*----------------------------------------------------------*/

  #goes-image-cont {
    height: 1309px;
  }

  #goes-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    user-select: none;
  }

  #goes-next-button {
    width: 30px;
  }

  #goes-back-button {
    width: 30px;
  }

  #goes-last-button {
    width: 70px;
  }

  /*----------------------------------------------------------*/
  /*---------------- POINT MODEL DATA CHARTS -----------------*/
  /*----------------------------------------------------------*/

  #point-chart-box {
    height: 320px;
    padding: 10px;
  }

  #white-cat {
    position: absolute;
    left: 130px;
    top: -40px;
    height: 50px;
  }

  /*----------------------------------------------------------*/
  /*---------------- MODEL DATA CONTAINER --------------------*/
  /*----------------------------------------------------------*/

  #radar-model-cont {
    height: 1220px;
    margin-top: 100px;
  }

  #radar-model-back-button {
    width: 30px;
  }

  #radar-model-next-button {
    width: 30px;
  }

  #radar-model-background {
    background-color: #ffffff;
    height: 1091px;
    width: 1200px;
  }

  #radar-model-images img {
    position: absolute;
    top: 0;
    width: 1200px;
    object-fit: cover;
    user-select: none;
  }

  /*----------------------------------------------------------*/
  /*-------------------- SOUNDING LABEL BOX -------------------*/
  /*----------------------------------------------------------*/

  #sounding-label {
    margin: 0;
    width: 555px;
    height: 80px;
  }

  /*----------------------------------------------------------*/
  /*---------------- SOUNDING CONTAINER --------------------*/
  /*----------------------------------------------------------*/

  #sounding-cont {
    height: 950px;
  }

  #sounding-background {
    background-color: #ffffff;
    height: 826px;
    width: 1180px;
    margin: auto;
  }

  #sounding img {
    object-fit: cover;
    user-select: none;
  }

  #lay-cat {
    position: absolute;
    left: 280px;
    bottom: -1px;
    height: 40px;
  }

  #dance-cat {
    position: absolute;
    left: 130px;
    top: -44px;
    height: 40px;
  }

  #good-luck {
    position: absolute;
    right: 200px;
    top: -80px;
    height: 80px;
  }

  #snail-cat {
    position: absolute;
    left: 30px;
    bottom: -5px;
    height: 40px;
  }
  #sleepy-cat {
    position: absolute;
    left: 500px;
    bottom: -5px;
    height: 40px;
  }